<main>
  <div class="container">
    <div class="row flex">
      <div class="col-9">
        <div
        class="board"
        [ngStyle]="{ 'grid-template-columns': templateColumnStyle }"
        >
            <app-cell
                *ngFor="let cell of cells"
                [cell]="cell"
                [drillPosition]="drillPosition"
                [direction]="direction"
            ></app-cell>
        </div>
      </div>
      <div class="col-2">
        <p-button label="{{ isMarching ? 'Squad Halt' : 'Quick March'}}" (onClick)="isMarching = !isMarching"></p-button>
        <p-button label="Right Turn" (onClick)="changeDirection('right')"></p-button>
        <p-button label="Left Turn" (onClick)="changeDirection('left')"></p-button>
        <p-button label="About Turn" (onClick)="changeDirection('about')"></p-button>
        <br />
        <input matInput
        type="number"
        min="0"
        max="6"
        [(ngModel)]="numOfStep"> Pace(s)
        <p-dropdown 
          [options]="stepDirectionList" 
          [(ngModel)]="selectedStepDirection" 
          placeholder="Stepping Direction" />
        <p-button label="March" (onClick)="stepping()"></p-button>

      </div>
    </div>
  </div>
</main>

<router-outlet />
