<div #boardCell>
    <div [ngSwitch]="cellStatus">
        <div
            *ngSwitchCase="'squad'"
            class="cell"
            [ngClass]="{ 'crew': true }"
        >
            <img src='{{ "./assets/crew_" + cell.facing + ".png" }}'>
        </div>

        <div
            *ngSwitchCase="'marker'"
            class="cell"
            [ngClass]="{ 'marker': true }"
        >
            <img src='{{ "./assets/marker_" + cell.facing + ".png" }}'>
        </div>

        <div
            *ngSwitchCase="'goal'"
            class="cell"
            [ngClass]="{ 'crew': true, 'goal': true }"
        >
            <img src='{{ "./assets/crew_" + cell.facing + ".png" }}'>
        </div>

        <div
            *ngSwitchCase="'goalMarker'"
            class="cell"
            [ngClass]="{ 'marker': true, 'goal': true }"
        >
            <img src='{{ "./assets/marker_" + cell.facing + ".png" }}'>
        </div>

        <div *ngSwitchDefault class="cell"></div>
    </div>
</div>